.photos img{


    width: 200px;
    height: 200px;
    border: 5px solid #aaa;
}
.photos img:hover{


    cursor: pointer;
    border: 5px solid rgb(223, 73, 210);
}
.main img{
    width: 530px;
    height: 530px;
    border: 5px solid #aaa;
}